In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data_6.1~6.15.xlsx')
df = df.dropna()
df['location'] = df['latitude'].astype(str) + ', ' + df['longitude'].astype(str)

In [3]:
telco_data = df[['start time', 'end time', 'location']]
telco_data['workload'] = (telco_data['end time']-telco_data['start time']).dt.total_seconds()
telco_data = telco_data[['workload', 'location']]
telco_data = telco_data.groupby(by = ["location"]).sum()
telco_data = telco_data.reset_index()
telco_data['location'] = [tuple([float(y) for y in x.split(",")]) for x in telco_data['location']]
telco_data = telco_data[['workload', 'location']]

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_17116\2283480817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  telco_data['workload'] = (telco_data['end time']-telco_data['start time']).dt.total_seconds()

In [4]:
telco_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2769 entries, 0 to 2768
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   workload  2769 non-null   float64
 1   location  2769 non-null   object
dtypes: float64(1), object(1)
memory usage: 43.4+ KB

In [5]:
telco_data.head()

    workload                 location
0  1507810.0  (22.522803, 114.218796)
1   643543.0  (24.284812, 102.999068)
2    50378.0  (25.222206, 117.086322)
3  3755547.0  (26.139329, 103.078562)
4   763464.0  (26.215115, 109.744661)

In [8]:
telco_data.to_pickle('processed_data.pickle')